body{
    background:rgb(234, 234, 243);
}
header{
    margin-left:0;
    height:70px;
    width: 100vw;
    text-align:left;
}
.node {
    cursor: pointer;
}

.node circle {
    fill: #fff;
    stroke: rgb(0,63,116);
    stroke-width: 3px;
   
}

.node text {
    font: 12px sans-serif;
    font-weight: bold;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}

h1{
    padding-top:20px;
    color: rgb(0,63,116);
    text-align: left;
    padding-left:15px;
    padding-right: 0;
}
img{
    height:90px; 
    width: 100vw;
}

#date{
    text-align: right;
    color:rgb(105, 105, 105);
    font-size:0.75rem;
}

svg{
    background:rgb(226, 226, 231) !important;
    margin-right: 10px !important;
    margin-left: 10px !important;
    border-radius:5px !important;
    width: 100vw;

}
#inputToHandle{
    margin-right: 21px !important;
    margin-left: 21px !important;
    border-color: rgb(151, 149, 149) !important;
    height:80px;
    padding-top:20px;
    width: 60vw !important;
    padding-left: 15px;
    border-radius:5px;
}

form{
    padding-top:20px;

}
#attributeName{
    border:1px solid #ccc;
    border-radius: 4px;
}
button{
    border-radius:4px;
}
footer{
    margin-right: 21px !important;
    margin-left: 21px !important;
}


